<?xml version="1.0" encoding="UTF-8"?><suite name="Suite1"><test name="test1"><classes><class name="com.SigmaInbound.Sigmaoutbound"/></classes></test><listeners><listener class-name="atu.testng.reports.listeners.ATUReportsListener"/><listener class-name="atu.testng.reports.listeners.ConfigurationListener"/><listener class-name="atu.testng.reports.listeners.MethodListener"/></listeners></suite>