@CHARSET "ISO-8859-1";

body
{
	font-family:'Roboto', sans-serif !important;
	padding:0;
	margin:0;
	background:#f5f5f5;
}
#logo h3
{
	margin:0;
	text-align:center;
	color:white;
	position: relative;
top: 18px;
}
#logo
{
	background:gray url("Images/CRMIT.png") no-repeat;
	//background:#2d2824 ;
display:block;
	width:100%;
	height:60px;
	background-size:6%;
	background-repeat:no-repeat;
	background-position:2% 41.2%;
} 
#logout
{
	border: 1px solid #dddbda;
	text-decoration: none;
	padding: 0.4% 1.2%;
	background: white;
	color: #0070d2;
	border-radius: 6px;
	font-size: 90%;
	float:right;
	text-decoration:none;
	position:relative;
	left:-2%;
	 top:-7px;
	 margin-right:0.4%;
}
.logout
{
	 top: 20% !important;
}
#logout:hover
{
	color:white;
	background:transparent;
}
.header
{
	box-shadow: 1px 0 3px rgba(0,0,0,.15);
	margin-top:-1.5%;
	text-align:center;
}
.header h3
{
	
	background:#1fb5ad;
	color:white;
	padding:1%;
}
#container
{
   	margin:0 auto;
   	width:90%;
  
}
#container_logo
{
	width:26%;
	margin:0 auto;
	padding:2% 4% 4% 4%;
	background:white;
	border-radius:5px;
	margin-top:4%;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	border-top:2px solid gray;
	border-bottom:4px solid gray;
}
#container_logo label{font-size:20px;}
.logo_input
{
    box-shadow: none;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    color: #555555;
    display: block;
    font-size: 18px;
    height: 26px;
    line-height: 1.42857;
    padding: 6px 12px;
    width:92%;
}
.logo_submit
{
	background:#337ab7;
	color:white;
	border:none;
	width:100%;
	 height: 42px;
	 font-size:20px;
}
.logo_submit:hover
{
	background:#3390b7;
}
.Container_AutomationHome
{
	width:80% !important;
	margin-top:10% !important;
}
#RegressionTesting
{
	width:26%;
	float:left;
	text-align:center;
	height:30vh;
	border:0px solid gray;
	border-radius:6px;
	margin-right:4%;
	margin-left:7%;
	background:white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
#LoadTesting
{
	width:26%;
	float:left;
	text-align:center;
	height:30vh;
	border:0px solid gray;
	border-radius:6px;
	margin-right:4%;
	background:white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
#MobileTesting
{
	width:26%;
	float:left;
	text-align:center;	
	height:30vh;
	border:0px solid gray;
	border-radius:6px;
	background:white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
#salesforce_appexchange
{
	width:26%;
	float:left;
	text-align:center;	
	height:30vh;
	border:0px solid gray;
	border-radius:6px;
	background:white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.testing
{
	width:100%;
	height:40px;
	display:block;
	background:#188fff;
	color:white;	
	line-height:36px;
	text-decoration:none;
	font-size:20px;
}
#upload_container
{
	text-align: center;
    width: 50%;
	margin:0 auto;
}
.upload_form
{
	width:50%;
	margin:0 auto;
	border:0px solid gray;
	padding:2%;
	border-radius:6px;
	 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
	 background:white;
}
.upload_btn
{
	background:#188fff;
	color:white;
	padding:2%;
	border:none;
}
#success_container
{
	width:30%;
	margin:0 auto;
	margin-top:2%;
	text-align:center;
}
.success_img
{
	border-radius:4%;
}
#form
{
	background:white;
	 box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
	margin-top:2%;
	margin-bottom:2%;
	padding:2%;
}
.form
{
	background:white;
	 box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
	margin-top:4%;
	margin-bottom:2%;
	padding:2%;
	width:88%;
	margin-left:4%;
}
.error_container
{
	width:24%;
	text-align:center;
	
}
.error_img
{
	width:30%;
}
.error_h1
{
	color:red;
}
#welcome
{
	background:#f4f4f4;
	padding:1.6%;
	
	color:#337ab7;
}
#welcome a
{
border: 1px solid #dddbda;
text-decoration: none;
padding: 0.4% 1.2%;
background: white;
color: #0070d2;
border-radius: 6px;
font-size: 90%;
cursor:pointer;
}
#welcome a:hover
{
	background:#0070d2;
	color:white;

	}
#welcome p
{
	color:black;
	margin-top:3%;
	font-size:16px;
}
table{width:100%;}
thead{background:gray !important;color:snow;}
tbody tr:nth-child(even) {
   background-color: #f4f4f4 !important;
}
caption{font-size:26px;color:#337ab7;padding-bottom:0.5%;}
.welcome_execution
{
	color:black;
	font-size:16px;
	
}
#example{
	border:2px solid gray;border-radius:0 0 12px 12px;box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
}
#example th
{
	padding:1% 0;
}
#example a
{
	
	color:#337ab7;
	text-decoration:none;
	
}
#example a:hover
{
	 background: #337ab7 none repeat scroll 0 0;
    border-radius: 20px;
    color: white;
    padding: 3% 8%;
    text-decoration: none;
}
#example_length
{
	margin-bottom:2%;
	margin-left:2%;
}
#example_length select
{
border-radius: 6px;border:1px solid gray
}
#example_filter
{
	position:relative;
	left:-3%;
}
#example_filter input
{
	border:1px solid gray;
	border-radius:4px;
}
#example_info
{
		margin-left:2%;
		margin-top:1%;
}
#example_paginate
{
	position:relative;
	left:-1%;
	margin-top:1%;
}
.head1
{
	padding:1% 0.2%;
	text-align:left;
	background:gray;
	color:white;
}
.head2
{
	padding:0.2% 0%;
	text-align:left;
	background:#ccc;
}
#salesappexchange
{
	width:100%;
	margin:0 auto !important;
	margin-bottom:0.5% !important;
	height:auto;
	border:0px solid gray;
	border-radius:6px;
	margin-left:3%;
	background:white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
#form_salesappexchange
{
	height:auto;
}
#salesappexchange img{
	width:100%;
	height:auto;
	
}
.footer
{
	position:fixed;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background:#333;
   text-align:center;
   color:lightgray;
   line-height:2px;
}
a, a:active, a:focus{
    outline: none !important; /* Works in Firefox, Chrome, IE8 and above */
}


.scheduler-content
{
	 position: fixed; /* Stay in place */
    z-index:6; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transtion:2s;
}
.scheduler-modal
{
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
}
.scheduler-content h4
{
margin-top: -10px;
background: #f4f4f4;
width: 230px;
}
.scheduler-content input
{
	padding:5px 8px;
}
.scheduler-content select
{
	padding:4.5px 8px;
}

.scheduleBtn{
	border: 2px solid #337ab7;
	color: #337ab7;
	background: transparent;
	padding: 0.5px 8px 3px 8px !important;
	font-size: 17px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	margin-left: 122px;
	width: 210px !important;
}
.scheduleBtn:hover{
	background:#337ab7;
	color:white;
	}
.registerMain
{
	margin-top:2% !important;
	margin-bottom:4% !important;
}
.signupBtn
{
	float:right;
	margin-top:10px;
}
