html, body {
    height: 100%;
    min-height: 100%;
     font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
     background:#efefef !important;
}
body {
   
    font-size: 14px !important;
    line-height: 1.57142857 !important;
    color: #464646 !important;
    
    margin: 0 !important;
     letter-spacing: 1px !important;
}
a{
	text-decoration:none !important;
}
a:hover{
	text-decoration:none;
}
.text-caps{
	text-transform:uppercase;
}
.text-center{
	text-algin:center; 
}
.login-page{
	width:100%;
	height:100vh;
	background:url("../Images/Automation.jpg")
} 
.login-page form{
	display:block;
	width:32%;
	margin:auto;
	background:white;
	 margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  padding: 25px 50px; 
}
.login-page h1{
	    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #5a8dee;
}
.login-page h2{
	    font-size: 16px;
    color: #111111;
    text-align: center;
    margin-bottom: 18px;
}
.login-page label{
	    font-size:12px;
}
.login-page input{
	    min-height: 44px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid darkgray;
    padding: 10px 15px;
    color: #111111;
    width:100%;
        margin-bottom: 10px;
}
.login-page input::-webkit-input-placeholder { /* Edge */
  color: #e7e7e7;
}

.login-page input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #e7e7e7;
}

.login-page input::placeholder {
  color: #979696;
}
.login-page .login-btn{
	color: #fff;
    border-radius: 3px;
    background-color: #5a8dee;
    padding: 10px 36px;
    margin: 20px 0;
}
.header-bg{
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background: #3f51b5;
    height:55px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index:1;
}
.hide { 
  display: none;
}
.logout-hover:hover + .hide {
  display: block;
}
.logo {
  height: 55px;  
    width: 246px;
  display: table;
  overflow: hidden;
  position: fixed;
  -webkit-transition: 0.25s ease-in;
  -o-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  padding: 0 22px;
  z-index: 1000;
  background: #303f9f;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.logo a {
  color: #fff;
  font-weight: bolder;
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
  position: relative;
}
.logo a:hover{
	color:white !important;
}
.logout{
	float:right; 
}
.logout i{
	color:white;
}
.logout .slds-popover{
	top: 55px;
    right: -40px;
}
.logout .text-small{
	font-size:10px;
}
.logout a{
	    float: right;
    position: relative;
    top: 16px;
    right: 24px;
}
.logout a img{
	width:30px;
}
nav{
	display: block;
    width: 18%;
    background:white;
    height:100%;
    float:left;
       margin-top: -20px;
       position:fixed;
}
.nav-margin{
	margin:20px 20px 20px 270px;
}

nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
nav ul li{
	 padding: 20px;
	 text-transform: uppercase;
    font-weight: bold;
}
nav ul li:hover{
	background: #f7f7f7;
  color: #616161;
  text-decoration:none;
}
nav ul .active{
	background: #f7f7f7;
  color: #616161;
}
nav ul .active i{
	background: #607d8b;
    color: white;
}
nav a{
	color: #607d8b; 
	text-decoration: none;
}
nav a:hover{
	text-decoaration:none;
}
nav i{
	margin-right:14px;
	padding:7px;
}
.small{
	font-size:85%;
}
.profile{
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
	padding: 18px 15px;
	margin-bottom: 15px;
}
.profile img{
	width:42px;
	float:left;
	margin-right: 10px;
}
.profile p{
	margin:0;
	
}
.profile span{
	font-size:10px;
	text-transform:uppercase;
	color:#464646;
}
.welcome{
	background: #fff;
    border: 1px solid #f7f7f7; 
    padding: 12px 20px;
    border-color: #e7e7e7;
    margin:75px 20px 20px 270px;
     border-left: 3px solid #39DA8A;
}
.welcome .slds-col-1{
	width:3%; 
}
.welcome .slds-col-1 .back{
	font-size: 24px;
	position: absolute;
    margin-top: 6px;

	}
.welcome .slds-col-2{
	width:97%;
	border-left: 1px solid #dddbda;
	padding-left: 14px;
}

.welcome p{
	padding:2px;
	margin:0;
}

.container{
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	display: block;
    background: white;
    margin: 0 20px 20px 270px;
    padding:20px;
   border-left: 3px solid #00CFDD;
}
.container .slds-card__header{
	padding:0;
}
.panel-grid .slds-col{
	background:white;
	    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	    margin: 0 8px;
    width: 25%;
}
.panel-grid .slds-col:hover{	
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
	}
.panel-grid .slds-col:first-child {
	margin-left:0
	}
	.panel-grid .slds-col:last-child {
	margin-right:0
	}
.panel-grid i{
	float:right;
	font-size:30px;
}
.panel-grid .slds-col a{
	width:100%;
	display:block;
}
.panel-grid .slds-col p{
	padding:22px;
}
.panel-grid a{
	color:white;
	 padding:8px 22px;
}
.panel-grid a:hover{
	color:white;
}
.panel-grid .purple a{
	    background: #3f51b5;	   
}
.panel-grid .purple p{
	    color: #3f51b5;	   
}
.panel-grid .green a{
	    background: #4caf50;	   
}
.panel-grid .green p{
	    color: #4caf50;	   
}
.panel-grid .blue a{
	    background: #2196f3;	   
}
.panel-grid .blue p{
	    color: #2196f3;	   
}
.panel-grid .pink a{
	    background: #e91e63;	   
}
.panel-grid .pink p{
	    color: #e91e63;	   
}
.panel-success{
	border:1px solid #4caf50;
	display:block;
	background:white;
}
.panel-success .panel-head{
	background:#4caf50;
	color:white;
	padding:14px 22px;
	text-transform:uppercase;
}
.panel-success .panel-content{
	padding:14px 22px;
}
.panel-success ol{
}
.alert-success{
	background:#b9f1e4;
	color:#066b54;
	padding:10px;
	border-radius:4px;
} 
.file-upload{
	    border: 2px dashed #e2e2e2;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin:auto;
}
.custom-table th,.custom-table td{
	padding:10px !important;
	}
	.custom-table th{
	font-weight:bold !important;
	} 
	.border-green{
    border-left: 3px solid #39DA8A;
    }
	.border-blue{ 
	border-left: 3px solid #00CFDD;
	}
	.update-btn{
	    color: white !important;
    background-color: #04844b;
    border-color: #04844b;
    padding: 5px;
	}
	.update-btn{
	box-shadow:0 1px 1px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
	}
	
	.fa-green{
	color:#1bc5bd;
	padding:4px 0;
	}
	.fa-blue{
	color:#3699ff;
	padding:4px 0;
	}
	.fa-red{
	color:#f64e60;
	padding:4px 0;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button.current{
	    background: #3f51b5;
    color: white !important;
	}
	.dataTables_wrapper .dataTables_filter{
	margin-bottom:20px;
	font-weight:bold;
	}
	.paginate_button{
	border:1px solid #dddddd !important;
	}
	.dataTables_wrapper .dataTables_paginate,.dataTables_wrapper .dataTables_info{
	margin-top:20px;
	}
	.dataTables_wrapper .dataTables_info{
	font-weight:bold;
	}
	.dataTables_wrapper .dataTables_length{
	font-weight:bold;
	}